          <div class="login-wrapper">
              <form  class="login" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
                  <section class="title">
                      <h3 class="welcome">Welcome to</h3>
                      LIMONNANA
                      <h5 class="hint">Use your Company ID to sign in or register now</h5>
                  </section>
                  <div class="login-group">
                    <clr-input-container>
                          <input type="text" name="username" formControlName="username" clrInput placeholder="username"/>
                      </clr-input-container>
                      <small
                  [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                  class="text-danger">
                  Username is required
                </small>
                      <clr-password-container>
                          <input type="password" name="password" formControlName="password" clrPassword placeholder="password"/>
                      </clr-password-container>
                      <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                  class="text-danger">
                  Password is required
                </small>
                      <clr-checkbox-wrapper>
                          <label>Remember me</label>
                          <input type="checkbox" name="rememberMe" formControlName="rememberMe" clrCheckbox />
                      </clr-checkbox-wrapper>
                      <div *ngIf="wrongCredentials" class="error active">
                          Invalid user name or password
                      </div>
                      <button type="submit" class="btn btn-primary">Login</button>
                      <a class="signup" routerLink="/register">Register</a> 
                  </div>
              </form>
          </div>
      