<div class="content-container">
    <div class="content-area">
<h3>Users</h3>
<table class="table">
  <thead>
      <tr>
          <th>Id</th>
          <th class="left">Name</th>
          <th class="left">Phone</th>
          <th class="left">Email</th>
          <th class="left">From date</th>
          <th class="left">Action</th>
      </tr>
  </thead>
  <tbody>
    
      <tr *ngFor="let user of userList">
          <td>{{user.id}}</td>
          <td class="left">{{user.name}}</td>
          <td class="left">{{user.phone}}</td>
          <td class="left">{{user.email}}</td>
          <td class="left">{{user.created}}</td>
          <td class="left">
                <button class="btn  btn-sm" (click)="editUser(user)">edit</button>  
                <button class="btn  btn-sm">delete</button>
          
             
      </tr>
     
   </tbody>
   </table>   
</div>
</div>