<clr-main-container>
        <clr-header class="header-2">
        <div class="branding">
              <a class="nav-link">
              <clr-icon shape="home"  size="24"></clr-icon>
              <span class="title">{{title}}</span>
              </a>
          </div>
          <div class="header-nav" [clr-nav-level]="1">
          <div class="header-nav">
              <a class="active nav-link nav-text" routerLink="/home">Home</a>
              <a class="nav-link nav-text" routerLink="/login">Login</a> 
        </div>
        </div>
          </clr-header>
  <div class="content-container">
      <div class="content-area">
          this is home
      </div>
  </div>
  <div class="clr-footer">
    Footer
  </div>
</clr-main-container>